


body {
    padding-top: 56px;
    padding-left: 56px;
  }
  
img {
  height: 35px;
  width: 35px;
}

.buttons{
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 20px;
}
.btn.btn-secondary.btn-padding {
  background-color: rgb(88, 88, 88);
  padding-top: 7px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
}
a#tab-favorites-tab-work{
  color:black;
}
a#tab-favorites-tab-home{
  color:black;
}